<%= form_for @recording do |f| %>
	<div class="modal-body">
		<label>Publication this webinar will be about</label>
		<% pub_array = current_user.publications.map { |pub| [truncate(pub.title, :length => 60), pub.id] } %>
		<%= f.select(:publication_id, options_for_select(pub_array), {}, {:class => 'form-control'}) %>
		<label>Title</label>
		<%= f.text_field :title, :class => "form-control", :placeholder => t('webinar.title_input') %>
		<label>Description</label>
		<%= f.text_field :description, :class => "form-control", :placeholder => t('webinar.description_input') %>
	</div>
	<div class="modal-footer">
	<button type="button" class="button-secondary-yellow" data-dismiss="modal">Close</button>
		<%= f.submit 'Edit', :id => "saveWebinar", :class => "button-primary-yellow"%>
	</div>
<% end %>