<div class="recording_item_mini" pres-url="<%=recording_path(recording, :format => :full)%>">

	<!-- Info -->
	<div class="caption">

		<!--Title -->
		<h5>
		<i class="fa fa-video-camera orange_txt"></i>
		<%= link_to recording.title, recording_url(recording) %>
		</h5>

		<!--Author -->
		<div class="author">
			<%= render 'users/user', :user => recording.author%>
		</div>

		<!-- Link -->
		<div class="link">
			<a href="<%= recording_url(recording)%>"><i class="fa fa-eye"></i></a>
		</div>
	</div>
	<div class="date">
		<i class="fa fa-clock-o"></i><p><%= recording.created_at.to_formatted_s(:short)%></p>
	</div>
</div>
