<div class="col-md-2 col-xs-6 recording-item">

  <div class="recording">
    <% generated_id= "recording-" + recording.id.to_s %>
    <div class="title_icon">
      <!--Title -->
      <a href=<%= recording_url(recording) %>>
        <h5><i class="fa fa-video-camera fa-lg"></i></h5>
      </a>
    </div>
    <!--Date -->
    <div class="date">
      <h4>Recorded <%= recording.created_at.to_formatted_s(:short)%></h4>
    </div>
    <!-- Info -->
    <div class="caption">
      <div class="avatar_prox"></div><!-- provisional, hasta que se pueda poner avatar al resto de elementos -->
      <%= link_to(recording_url(recording)) do %>
        <p class="title"><%= recording.title %></p>
      <%end%>

      <!--Publication -->
      <div class="publication">
        <%= link_to recording.publication.title, recording.publication.loop_url, :target => '_blank' %>
      </div>

      <!--Author -->
      <div class="author">
        <%= render 'users/user', :user => recording.author%>
      </div>
      <!-- Link -->
      <!--<div class="link button-secondary-orange">
        <%#= link_to('View recording', recording_url(recording), :class => "logo");%>
      </div>-->
    </div>
  </div>
</div>
