<div class="col-md-2 col-xs-6 recording-item">

  <div class="recording">
    <% generated_id= "recording-" + recording.id.to_s %>
    <!-- Info -->
    <div class="caption">
      <!--Title -->
      <h5>
        <%= link_to recording.title, recording %>
      </h5>
      <!--Publication -->
      <div class="publication">
        <%= link_to recording.publication.title, recording.publication.loop_url, :target => '_blank' %>
      </div>
      <!--Date -->
      <div class="date">
        <h4><%= recording.created_at.to_formatted_s(:short)%></h4>
      </div>
      <!--Author -->
      <div class="author">
        <%= render 'users/user', :user => recording.author%>
      </div>
      <!-- Link -->
      <div class="link button-secondary-yellow">
         <%= link_to('Go to recording', recording_url(recording), :class => "logo");%>
      </div>
    </div>
  </div>
</div>