<div class="row">
	<div class="col-md-9">
		<h4><%= link_to(publication.title, publication.loop_url, :target => '_blank')%></h4>
		<h5><%= publication.authors_name %></h5>
		<h6><%= publication.publication_name %>, <%= publication.publication_date.split('-')[0] %></h6>
	</div>
	<% if showActions %>
	<div class="col-md-3 publication_actions">
		<div class="button-secondary pull-right">
			<a href="<%= new_presentation_path({:publication => publication.id})%>">
			<i class="fa fa-picture-o"></i>
			Create <b>Presentation</b></a>
		</div>
		<button type="button" class="button-secondary pull-right btn-webinar" data-pub="<%=publication.id%>" data-toggle="modal" data-target="#new_webinar_modal">
  		<i class="fa fa-calendar"></i>	Schedule <b>Webinar</b>
		</button>
	</div>
	<% end %>
</div>
