<% editingToolbar = (@presentation.draft or controller.action_name == "edit") %>

<!--BTN ACTIONS-->
<div class="btn-group actions_layout_show">

  <!-- Edit -->
  <% if user_signed_in? and !editingToolbar%>
    <button class="button-primary-red" data-toggle="tooltip" title="<%=t('presentation.actions.edit')%>" onclick="location.href='<%=edit_presentation_path(@presentation)%>'">
      <i class="fa fa-pencil"></i>Edit
    </button>
  
  <!--Remove-->
    <button class="with_tooltip delete button-primary-red" data-toggle="popover" data-container="body" title="<%=t('presentation.actions.delete')%>" data-placement="left" aria-hidden="true">
      <i class="fa fa-trash"></i>Delete
    </button>

   <!--Remove confirmation-->
    <div class="contentdelete" style="display: none">
      <p class="delete_p"><i class="fa fa-trash-o"></i>  <%=t('presentation.confirm_delete')%></p>
      <div class="actions">
        <a class="btn button-primary-red btn_cancel closepopover"><%=t('cancel')%></a>
        <%= link_to t('presentation.actions.delete'),  @presentation, :method => :delete, :class => 'btn btn-primary' %>
      </div>
    </div>
  <%end%>

</div>

<h4 class="actions-header-presentation">Related presentations</h4>

<div class="author_presentations_list">
  <% presentation.author.presentations.each do |presentation| %>
    <%= render 'presentations/presentation_mini', :presentation => presentation, :blank => false  %>
  <% end %>
</div>