<div class="col-md-2 col-xs-6 presentation-item">

  <div class="presentation">
    <% generated_id= "presentation-" + presentation.id.to_s %>

    <%= link_to(presentation_url(presentation)) do %>
      <!-- image/icon -->
      <div class="container-img">
        <div class="img-box" id="<%=generated_id%>"></div>
        <%if presentation.draft%>
          <div class="presentation-draft">
            <h2 class="draftstyle">
              <i class="fa fa-edit"></i>
              <%=presentation.title%>
            </h2>
          </div>
        <%end%>
      </div>
    <%end%>

    <script>
        document.getElementById("<%=generated_id%>").style.backgroundImage = "url('<%=presentation.thumbnail_url%>')";
    </script>

    <!-- Info -->
    <div class="caption">
      <!--Title -->
      <h5>
        <%= link_to presentation.title, presentation %>
      </h5>
      <!--Author -->
      <div class="author">
        <%= render 'users/user', :user => presentation.author%>
      </div>
      <!-- Link -->
      <div class="link button-secondary-red">
         <%= link_to('Go to presentation', presentation_url(presentation), :class => "logo");%>
      </div>
    </div>
  </div>
</div>
