<% editingToolbar = (@presentation.draft or controller.action_name == "edit") %>

<h4 class="actions-header">Actions</h4>

<!--BTN ACTIONS-->
<div class="btn-group actions_layout_show">

  <!-- Edit -->
  <% if user_signed_in? and !editingToolbar #KIKE XXX FIX and (can? :update, @presentation) %>
    <button class="button-primary-red" data-toggle="tooltip" title="<%=t('presentation.actions.edit')%>" onclick="location.href='<%=edit_presentation_path(@presentation)%>'">
      Edit presentation
    </button>
  <%end%>

  
  <!--Remove-->
  <% if user_signed_in? #KIKE XXX FIX and can?(:destroy, @presentation) %>
    <button class="with_tooltip delete button-primary-red" data-toggle="popover" data-container="body" title="<%=t('presentation.actions.delete')%>" data-placement="left" aria-hidden="true">
      Delete presentation
    </button>
  <%end%>

  <div class="contentdelete" style="display: none">
    <p class="delete_p"><i class="fa fa-trash-o"></i>  <%=t('presentation.confirm_delete')%></p>
    <div class="actions">
      <a class="btn button-primary-red btn_cancel closepopover"><%=t('cancel')%></a>
      <%= link_to t('presentation.actions.delete'),  @presentation, :method => :delete, :class => 'btn btn-primary' %>
    </div>
  </div>

</div>

<h4 class="actions-header">Recomended</h4>