<!--TITULO-->
<label><%= t('webinar.title')%></label>
<%= f.text_field :title, :class => "form-control", :placeholder => t('webinar.title_input') %>

<label><%= t('webinar.start_date')%></label>
<%=f.datetime_select :start_date%>

<%= f.submit t('save'), :id => "saveWebinar" %>
