<div class="col-md-3">

  <% generated_id= "webinar-" + webinar.id.to_s %>
  
  <!-- TODO: cambiar a webinar url -->
  <%= link_to(presentation_url(webinar)) do %>
    <!-- image/icon -->
    <div class="container-img">
      <div class="img-box" id="<%=generated_id%>"></div>      
      <%if webinar.draft%>
        <div class="webinar-draft">
          <h2 class="draftstyle">
            <i class="fa fa-edit"></i>
            <%=t('webinar.draft')%>
          </h2>
        </div>
      <%end%>
    </div>
  <% end %>

  <script>
      document.getElementById("<%=generated_id%>").style.backgroundImage = "url('<%=webinar.thumbnail_url%>')";
  </script>

  <!-- Info -->
  <div class="caption">
    <!--Title -->
    <h6>
      <%= link_to webinar.title, webinar %>
    </h6>
    <!--Author -->
    <div class="author">
      <span class="by"><%=t('by')%></span>
      <%= link_to webinar.author.name, webinar.author %>
    </div>
    <!-- Link -->
    <div class="link">
      <button>View webinar</button>
    </div>
  </div>
</div>