<% if isWebinarOwner %>

<!--BTN ACTIONS-->
<div class="btn-group actions_layout_show">

  <button id="clear_presentation" class="button-primary-yellow button-disabled"> 
    <i class="fa fa-picture-o"></i>Full video
  </button>

  <!-- Edit -->
  <button class="button-primary-yellow" data-toggle="modal" data-target="#new_webinar_modal">
    <i class="fa fa-pencil"></i>Edit
  </button>

  <!--Remove-->
  <button class="button-primary-yellow with_tooltip delete" data-toggle="popover" data-container="body" title="Delete Webinar" data-placement="left" aria-hidden="true">
    <i class="fa fa-trash"></i>Delete
  </button>
  <!--Remove confirmation-->
  <div class="contentdelete" style="display: none">
    <p class="delete_p">Are you sure?</p>
    <div class="actions">
      <button class="button-secondary-yellow closepopover">Cancel</button>
      <%= link_to 'Delete', webinar_path(@webinar), :method => :delete, :class => 'button-primary-yellow' %>
    </div>
  </div>
</div>

<ul class="nav nav-tabs related_tooltab">
  <li class="tab_webinar active">
    <a href="#related_tab0" tabTitle='Presentations' data-toggle="tab">Presentations</a>
  </li>
  <li class="tab_webinar">
    <a href="#related_tab1" tabTitle='Chat' data-toggle="tab">Chat</a>
  </li>
  <li class="tab_webinar">
    <a href="#related_tab2" tabTitle='Viewers' data-toggle="tab">Viewers</a>
  </li>
</ul>

<div class="tab-content related-tab-content">
  <div class="tab-pane active content_presentations_list" id="related_tab0">
      <% webinar.publication.presentations.each do |presentation| %>
        <%isPresentationOwner = (current_user.id == presentation.author_id) %>
        <%= render 'presentations/presentation_mini', :presentation => presentation, :isPresentationOwner => isPresentationOwner %>
      <% end %>
  </div>
  <div class="tab-pane content_chat" id="related_tab1">
    <div class="chat_conversation"></div>
    <div class="chat_message">
      <input type="text" id="chat_text"></input>
      <button class="button-primary-yellow" id="chat_send">Send</button>
    </div>
  </div>
  <div class="tab-pane content_connected_users" id="related_tab2">
  </div>
</div>

<%@webinar = webinar%>
<%= render 'webinars/webinar_modal', :action => 'Edit' %>

<%else%>

<ul class="nav nav-tabs related_tooltab">
  <li class="tab_webinar active">
    <a href="#related_tab0" tabTitle='Presentations' data-toggle="tab">Chat</a>
  </li>
  <li class="tab_webinar">
    <a href="#related_tab1" tabTitle='Chat' data-toggle="tab">Related webinars</a>
  </li>
</ul>

<div class="tab-content related-tab-content">
  <div class="tab-pane tab-pane-viewer active content_chat" id="related_tab0">
    <div class="chat_conversation"></div>
    <div class="chat_message">
      <input type="text" id="chat_text"></input>
      <button class="button-primary-yellow" id="chat_send">Send</button>
    </div>
  </div>
  <div class="tab-pane tab-pane-viewer webinars_list" id="related_tab1">
    <% webinar.author.webinars.each do |webinar| %>
      <%= render 'webinars/webinar_mini', :webinar => webinar %>
    <% end %>
  </div>
</div>

<%end%>

<script type="text/javascript">

   $('.delete').popover({
      html : true,
      placement: "left",
      content: function() {
        return $('.contentdelete').html();
      },
      container: ".actions_layout_show"
    });

  document.IDEM_SESSION = document.IDEM_SESSION || {};

  document.IDEM_SESSION.switchPresentation = function(presentation,stream) {
    if (presentation === 'none') {
      $("#webinar_presentation").attr('src', '');
      $("#webinar_presentation").parent().hide();
      $("#webinar_video").addClass('present_big');
      $("#webinar_video").removeClass('present_small');
      stream.player.resize();
    } else {
      $("#webinar_presentation").attr('allowfullscreen', 'false').attr('src', presentation);
      VISH.IframeAPI.init({preventDefault: false, callback: onConnect}); //Connect to VE API for sync VE events
      $("#webinar_presentation").parent().show();
      $("#webinar_presentation").parent().addClass('present_big');

      $("#webinar_video").removeClass('present_big');
      $("#webinar_video").addClass('present_small');
      stream.player.resize();
    }
  }

  $('#chat_send').click(document.IDEM_SESSION.send_chat_message);

  $('#chat_text')[0].onkeyup = function(e) {
    e = e || event;
    if (e.keyCode === 13) {
        document.IDEM_SESSION.send_chat_message();
    }
    return true;
  }

  var last_chat_sender = null;

  var add_text_to_chat = function(text, style, me, span, path) {
    var p = jQuery( '<p />' ), name_tag;
    
    if (span) p.append(span);
    if (me) style += ' chat_name_me';

    if (path) {
      name_tag = jQuery( '<a />' );
      name_tag.attr('href', path);  
    } else {
      name_tag = jQuery( '<span />' );
    }

    p.addClass('chat_' + style);
    name_tag.text(text);
    p.append(name_tag);
    
    $('.chat_conversation').append(p);
    $('.chat_conversation')[0].scrollTop = $('.chat_conversation')[0].scrollHeight;
  }

  document.IDEM_SESSION.send_chat_message = function() {
    var text_val = $('#chat_text')[0].value;
      if(text_val.match (/\S/)) {
          if (document.IDEM_SESSION.chatStream) {
              document.IDEM_SESSION.chatStream.sendData({msg: text_val, user: "<%=user%>", type: "chat"});
          }
          document.IDEM_SESSION.chat_message_received({msg: text_val, user: "<%=user%>"}, true);
      }
      $('#chat_text')[0].value = '';
  };

  document.IDEM_SESSION.chat_message_received = function(data, me, sender) {

    var name = 'Guest User', path;
    if (data.user !== 'guest') {
      name = JSON.parse(data.user.replace(/&quot;/g,'"')).name;
      path = JSON.parse(data.user.replace(/&quot;/g,'"')).path;
    }

    if (last_chat_sender !== sender) {
      add_text_to_chat(name, 'name', me, undefined, path);
      last_chat_sender = sender;
    }
    var date = new Date();
    var hour = date.getHours();
    var minutes = date.getMinutes();
    if ((hour + '').length === 1) hour = '0' + hour;
    if ((minutes + '').length === 1) minutes = '0' + minutes;

    var span = jQuery( '<span />' );
      span.addClass('chat_date');
      span.text(hour + ':' + minutes);

    add_text_to_chat(data.msg, 'msg', undefined, span);
  };

  <% if isWebinarOwner %>
    document.IDEM_SESSION.addParticipant = function(stream_id,user) {
      var div = document.createElement('div');
      var img = document.createElement('img');
      var a = document.createElement('a');
      if (user !== 'guest') {
        user = JSON.parse(user.replace(/&quot;/g,'"'));
        $(img).attr('src', user.avatar);
        $(a).attr('href', user.path).attr('target','_blank');
        $(a).html(user.name);
      } else {
        $(img).attr('src', '/assets/logos/small/user.png');
        $(a).html('Guest user');
      }
      div.setAttribute("id", "user_" + stream_id);
      $(div).attr("id", "viewer_" + stream_id);
      $(div).addClass("viewer");
      $(div).append(img);
      $(div).append(a);
      $('.content_connected_users').append(div);
    }
    document.IDEM_SESSION.removeParticipant = function(stream_id) {
      $('#viewer_' + stream_id).remove();
    }

    $("#init_webinar").on("click", function(e){

      window.addEventListener("beforeunload", function (e) {
        var confirmationMessage = 'You are currently performing a webinar. If you close this window you will loose the session.';
        (e || window.event).returnValue = confirmationMessage; //Gecko + IE
        return confirmationMessage; //Gecko + Webkit, Safari, Chrome etc.
      });

      document.IDEM_SESSION.room.publish(document.IDEM_SESSION.videoStream);
      $("#webinar_pre").hide();

      $(".presentation_item_mini a").on("click", function(e){
        e.stopPropagation();
      });
      $(".presentation_item_mini").on("click", function(){
        $("#clear_presentation").removeClass('button-disabled');
        $(".presentation_item_mini").removeClass("presentation-selected");
        $(this).addClass("presentation-selected");
        var presentation = $(this).attr("pres-url");
        document.IDEM_SESSION.switchPresentation(presentation, document.IDEM_SESSION.videoStream);
        //TODO. Process send sync messages
        document.IDEM_SESSION.videoStream.sendData({type: "presentation", action: 'update', pres_id: presentation});
        var attributes = document.IDEM_SESSION.videoStream.getAttributes();
        attributes.current_presentation = presentation;
        document.IDEM_SESSION.videoStream.setAttributes(attributes);     
      });

      $("#clear_presentation").on("click", function(){
        $("#clear_presentation").addClass('button-disabled');
        $(".presentation_item_mini").removeClass("presentation-selected");
        document.IDEM_SESSION.switchPresentation('none', document.IDEM_SESSION.videoStream);
        document.IDEM_SESSION.videoStream.sendData({type: "presentation", action: 'update', pres_id: 'none'});
        var attributes = document.IDEM_SESSION.videoStream.getAttributes();
        attributes.current_presentation = 'none';
        document.IDEM_SESSION.videoStream.setAttributes(attributes);
      });
    });
  <%end%>

</script>