<div class="webinar_item_mini" pres-url="<%=webinar_path(webinar, :format => :full)%>">

	<!-- Info -->
	<div class="caption">

		<!--Title -->
		<h5>

		<i class="fa fa-clock-o"></i> 
		<%= link_to webinar.title, webinar_url(webinar) %>
		</h5>
	
		<!--Author -->
		<div class="author">
			<%= render 'users/user', :user => webinar.author%>
		</div>

		<!-- Link -->
		<div class="link">
			<a href="<%= webinar_url(webinar)%>"><i class="fa fa-eye"></i></a>
		</div>
	</div>
	<div class="date">
		<i class="fa fa-clock-o"></i><p><%= webinar.start_date.to_formatted_s(:short)%></p>
	</div>
</div>
