<% shortURL = request.protocol + request.env['HTTP_HOST'].sub(/^(m|www)\./, '') + webinar_path(@webinar) %>
<% isWebinarOwner = (user_signed_in? and current_user.id==@webinar.author_id) %>
<% user = user_signed_in? ? current_user.id.to_s : 'Guest User' %>

<hr>
<section id="show_items " class="layout_show">
  <div class="doc-show">
    <h3><%= @webinar.title %></h3>
    <h5 class="publication-title"><%= link_to(@webinar.publication.title, @webinar.publication.loop_url, :target => '_blank')%></h5>
    <div class="box-show row">
      <div class="viewerContainer col-md-8">
        <div class="viewerElement"></div>
        <%= render :partial => 'webinar_show', :locals  => { :webinar => @webinar } %>
      </div>
      <div class="viewerContainer col-md-4">
        <%= render :partial => 'webinar_related_tab', :locals  => { :webinar => @webinar, :isWebinarOwner => isWebinarOwner } %>
      </div>
    </div>

    <!--owner-profile-->
    <div class="description-activity">
      <div class="box_description">
        <!--tool-->
        <div class="webinar_tool">
          <%= render :partial => 'webinar_tool_tab', :locals => { :shortURL => shortURL} %>
        </div>
      </div>     

    </div>
  </div>
  
</section>

<script type="text/javascript" src="/assets/erizo.js"></script>
<script type="text/javascript">
  window.onload = function () {

      document.IDEM_SESSION = document.IDEM_SESSION || {};

      <%if isWebinarOwner%>

        $( window ).resize(function (){
          document.IDEM_SESSION.localStream.player.resize();
        });

        document.IDEM_SESSION.localStream = Erizo.Stream({audio: true, video: true, data: true, attributes: {'user': "<%=user%>", 'current_presentation': 'none'}});
      <%else%>
        document.IDEM_SESSION.localStream = Erizo.Stream({audio: false, video: false, data: true, attributes: {'user': "<%=user%>"}});
      <%end%>
      var room = Erizo.Room({token: "<%=@token%>"});
      document.IDEM_SESSION.localStream.addEventListener("access-accepted", function () {

          var subscribeToStreams = function (streams) {
              for (var index in streams) {
                var stream = streams[index];
                if (document.IDEM_SESSION.localStream.getID() !== stream.getID()) {
                    room.subscribe(stream);
                }
              }
          };

          room.addEventListener("room-connected", function (roomEvent) {
            room.publish(document.IDEM_SESSION.localStream);
            subscribeToStreams(roomEvent.streams);
          });

          room.addEventListener("stream-subscribed", function(streamEvent) {
              var stream = streamEvent.stream;
              <%if isWebinarOwner%>
                if (stream.getID() !== document.IDEM_SESSION.localStream.getID) {
                  var li = document.createElement('li');
                  li.setAttribute("id", "user_" + stream.getID());
                  li.innerHTML = stream.getAttributes().user;
                  document.getElementById('connected_users').appendChild(li);
                };
              <%else%>
                stream.play("webinar_video");
                document.IDEM_SESSION.switchPresentation(stream.getAttributes().current_presentation, stream);
                stream.addEventListener("stream-data", function(evt) {
                  if (evt.msg.type === "presentation") {
                    document.IDEM_SESSION.switchPresentation(evt.msg.pres_id, stream);
                  } else if (evt.msg.type === "") {

                  }
                });
                $( window ).resize(function (){
                  stream.player.resize();
                });
              <%end%>
          });

          room.addEventListener("stream-added", function (streamEvent) {
              var streams = [];
              streams.push(streamEvent.stream);
              subscribeToStreams(streams);
          });

          room.addEventListener("stream-removed", function (streamEvent) {
              // Remove stream from DOM
              var stream = streamEvent.stream;

              <%if isWebinarOwner%>
                var element = document.getElementById('user_' + stream.getID());
                document.getElementById('connected_users').removeChild(element);
              <%end%>
            
          });

          room.connect();
          <%if isWebinarOwner%>
            document.IDEM_SESSION.localStream.play("webinar_video");
          <%end%>
      });
      document.IDEM_SESSION.localStream.init();
  };

</script>