<% active ||= "publications" %>

<hr>

<div id="user">
	<%= image_tag(@user.avatar_url, :alt => @user.name) %>
	<div id="info">
		<p id="name">
			<span><%=@user.name%></span>
			<% unless profileLoopData["user_data"]["profileUrl"].blank? %>
			<%= link_to(image_tag('loop_logo.svg', :alt => 'Loop'), profileLoopData["user_data"]["profileUrl"], :class => "loop_profile", :target => '_blank', :data =>{:toggle => "tooltip"}, :title => "Edit at Loop"); %>
			<% end %>
		</p>
		<% unless profileLoopData["user_data"]["jobTitle"].blank? %>
			<p id="title"><%= profileLoopData["user_data"]["jobTitle"] %></p>
		<% end %>
		<% unless profileLoopData["user_data"]["affiliation"].blank? %>
			<p id="organization"><%= profileLoopData["user_data"]["affiliation"] %></p>
		<% end %>
		<% unless profileLoopData["user_data"]["degree"].blank? %>
			<p id="degree"><i class="fa fa-graduation-cap"></i><%= profileLoopData["user_data"]["degree"] %></p>
		<% end %>
		<% unless profileLoopData["user_data"]["countryName"].blank? %>
			<p id="location"><i class="fa fa-map-marker"></i><%= profileLoopData["user_data"]["countryName"] %></p>
		<% end %>
	</div>
</div>

<!-- ["publications","presentations","webinars", "followings", "followers"].each do |resource -->
<ul class="nav nav-tabs user-nav">
	<% ["publications","presentations","webinars"].each do |resource| %>
		<li id="<%=resource%>_tab" class="<%= (active==resource ? "active" : "") %>">
			<a href="/users/<%=@user.id.to_s + "/" + resource %>"><span class="resource_count"><%= @user.send(resource).count %></span><%= resource.capitalize %></a>
		</li>
	<% end %>
		<li id="network_tab" class="<%= (active=="network" ? "active" : "") %>">
			<% count = 0;%>
			<%["followings", "followers"].each do |resource| %>
				<% count += @user.parsed_loop_data[resource].count;%>
			<%end%>
		 <a href="/users/<%=@user.id.to_s + "/network" %>"><span class="resource_count"><%=count%></span>Network</a>

		</li>
</ul>
