<div id="idem-presentation" class="row">
    <%= image_tag('main_bg.jpg', :alt => 'idem'); %>
    <div id="publi">
  		<p>with idem you can
        <ul>
          <li>enrich your frontiers publications with presentations</li>
          <li>diseminate your research with webinars</li>
          <li>attend to other authors conferences</li>
          <li>view recorded sessions or record you own ones</li>
          <li>explore recommended papers for your interests</li>
        </ul>
      </p>
    </div>
</div>

<div id="contents">

  <ul class="nav nav-tabs nav-tab-home" role="tablist">
    <li role="presentation" class="col-xs-3 presentations-title active">
      <a href="#presentations_tab" aria-controls="home" role="tab" data-toggle="tab">
        <i class="fa fa-picture-o" aria-hidden="true"></i> <span class="tab_txt">Featured presentations</span>
      </a>
    </li>

    <li role="presentation" class="col-xs-3 recordings-title">
      <a href="#recordings_tab" aria-controls="messages" role="tab" data-toggle="tab">
        <i class="fa fa-video-camera" aria-hidden="true"></i> <span class="tab_txt">Latest recordings</span>
      </a>
    </li>
    <li role="presentation" class="col-xs-3 webinars-title">
      <a href="#webinars_tab" aria-controls="profile" role="tab" data-toggle="tab">
        <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="tab_txt">Upcoming webinars</span>
      </a>
    </li>
    <li role="presentation" class="col-xs-3 publications-title">
      <a href="#publications_tab" aria-controls="profile" role="tab" data-toggle="tab">
        <i class="fa fa-graduation-cap" aria-hidden="true"></i> <span class="tab_txt">Loop publications</span>
      </a>
    </li>
  </ul>

  <div class="tab-content tab-content-home">
    <!-- Presentations -->
    <div role="tabpanel" class="tab-pane active" id="presentations_tab">
      <div class="fix-collapse">
	      <% if user_signed_in? && current_user.publications.size>0 %>
				    <%= render 'presentations/presentation_new' %>
			  <% end %>
  			<% @presentations.each do |presentation| %>
  			  	<%= render 'presentations/presentation', :presentation => presentation %>
  			<% end %>
			</div>
    </div>
    <!-- Webinars -->
    <div role="tabpanel" class="tab-pane" id="webinars_tab">
      <div class="fix-collapse">
			<% if user_signed_in? && current_user.publications.size>0 %>
				<%= render 'webinars/webinar_new' %>
			<%end%>
			<% @webinars.each do |webinar| %>
			   	<%= render 'webinars/webinar', :webinar => webinar %>
			<% end %>
			</div>
    </div>
    <!--Recordings -->
    <div role="tabpanel" class="tab-pane" id="recordings_tab">
      <div class="fix-collapse">
      <% @recordings.each do |recording| %>
          <%= render 'recordings/recording', :recording => recording %>
      <% end %>
      </div>
    </div>
    <!--Publications -->
    <div role="tabpanel" class="tab-pane" id="publications_tab">
      <div class="fix-collapse">
      <% @publications.each do |item| %>
          <%= render 'rs_items/rs_publication', :item => item %>
      <% end %>
      </div>
    </div>
  </div>

</div>

<% if user_signed_in? && current_user.publications.size>0 %>
	<%= render 'presentations/presentation_modal' %>
	<%= render 'webinars/webinar_modal' %>
<% end %>
