<div id="idem-presentation" class="row">
    <%= image_tag('main_bg.jpg', :alt => 'idem'); %>
    <div id="publi">
		<p>enrich your frontiers publications with presentations</p>
		<p>diseminate your research with webinars</p>
    </div>
</div>

<div id="contents">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-home" role="tablist">
    <li id="presentations" role="presentation" class="active">
      <a href="#presentations_tab" aria-controls="home" role="tab" data-toggle="tab">
        <h3><i class="fa fa-picture-o" aria-hidden="true"></i>Featured presentations</h3>
      </a>
    </li>
    <li id="webinars" role="presentation">
      <a href="#webinars_tab" aria-controls="profile" role="tab" data-toggle="tab">
        <i class="fa fa-clock-o" aria-hidden="true"></i>Upcoming webinars
      </a>
    </li>
    <li id="recordings" role="presentation">
      <a href="#recordings_tab" aria-controls="messages" role="tab" data-toggle="tab">
        <i class="fa fa-youtube-play" aria-hidden="true"></i>Last recordings
      </a>
    </li>

  </ul>




  <!-- Tab panes -->
  <div class="tab-content">
    <!-- presentations -->
    <div role="tabpanel" class="tab-pane active" id="presentations_tab">
      <div class="fix-collapse">
	      <%if user_signed_in? && current_user.publications.size>0%>
				    <%= render 'presentations/presentation_new' %>
			  <%end%>
  			<% @presentations.each do |presentation| %>
  			  	<%= render 'presentations/presentation', :presentation => presentation %>
  			<% end %>
			</div>
    </div>
    <!-- webinars -->
    <div role="tabpanel" class="tab-pane" id="webinars_tab">
      <div class="fix-collapse">
			<%if user_signed_in? && current_user.publications.size>0%>
				<%= render 'webinars/webinar_new' %>
			<%end%>
			<% @webinars.each do |webinar| %>
			   	<%= render 'webinars/webinar', :webinar => webinar %>
			<% end %>
			</div>
    </div>
    <!--recordings -->
    <div role="tabpanel" class="tab-pane" id="recordings_tab">
      <div class="fix-collapse">
      <% @recordings.each do |recording| %>
          <%= render 'recordings/recording', :recording => recording %>
      <% end %>
      </div>
    </div>
  </div> <!--end of tab-content -->

</div><!--end of id=contents -->





<!--recordings -->
</div>

<% if user_signed_in? && current_user.publications.size>0 %>
	<%= render 'presentations/presentation_modal' %>
	<%= render 'webinars/webinar_modal' %>
<% end %>
