<!DOCTYPE html>
<html>
<head>
  <title>IDeM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <div class="row colors-dec">
      <div class="col-xs-3 red"></div><div class="col-xs-3 orange"></div><div class="col-xs-3 yellow"></div><div class="col-xs-3 green"></div>
    </div>
    <%= render "layouts/header" %>
  </header>

  <div id="container">
    <%= render '/layouts/notifications' %>
    <%= yield %>
  </div>

  <footer>
    <%= render "layouts/footer" %>
  </footer>

</body>

<script>
  $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();

      $(document).on('click', ".closepopover", function(e){
        $(".delete").popover("hide");
      });
  });
</script>
</html>
